<header>
    <div class="navbar-fixed">
        <nav class="/*navbar*/ blue">
            <div class="nav-wrapper container">
                <a href="/" class="brand-logo white-text">Music Tagging</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li class="active"><a href="#" class="white-text">Home</a></li>
                  </ul>
            </div>
        </nav>
    </div>

    <!-- <ul id="slide-out" class="sidenav sidenav-fixed">
        <li><a href="" class="sidenav-header bold blue-grey white-text">Skripsi</a></li>
        <li><a href="/about"><i class="material-icons">account_box</i>About</a></li>
    </ul> -->
</header>
